:root {
  --color-white: #ffffff;
  --color-grey-lighter: #e8e5e3;
  --color-grey-light: #dddbda;
  --color-grey: #b0afae;
  --color-background: #f2feff;
  --color-background-dark: #b8dde0;
  --color-main-lighter: #caf0f4;
  --color-main-light: #b3e5ea;
  --color-main: #00b1c2;
  --color-main-dark: #057782;
}
